<div>
  {{input
    type="text"
    valueBinding="query"
  }}

  {{#if hasNoResults}}
    <span class="ember-select-no-results">No results match "{{query}}"</span>
  {{/if}}
</div>

{{#each filteredItemControllers}}
<div>
  {{input
    type="checkbox"
    title=label
    checked=selected
  }}
  {{label}}
</div>
{{/each}}

<div>Selected:</div>
{{#each selections}}
<div>{{label}}</div>
{{/each}}